@keyframes slidernbw {
    to {
        background-position: 20vw;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}
main > .welcome{
    text-align: center;
    font-size: 2.5rem;
}
main > .subtitle{
    display: flex;
    justify-content: center;
    width: 30%;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 20px;
}

/*Articles under searchbar*/
main > .browse-options{
    width: 60%;
    height: 30%;
    margin: 40px;
}
main > .browse-options > article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background);
    width: 30%;
    height: 100%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}
.browse-options > article:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
}
main > .browse-options > article > img{
    display: flex;
    flex-direction: row;
    width: 100px;
    margin: 5px;
    aspect-ratio: auto;
}

.browse-options > article > span{
    display: inline-block;
    width: 85%;
    height: 3px;
    padding: 0 0;
    margin-top: 20px;
    background-color: var(--primary);
}

.browse-options > article > .text-container{
    display: flex;
    color: var(--text);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 50%;
    border-radius: 0 0 5px 5px;
}

.browse-options > article > .text-container > h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--primary);
    color: white;
}