main > .form-search{
    height: 100px;
}

main > .form-search > input[type="text"] {
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: middle;
    width: 50%;
    height: 50px;
    padding: 10px;
    line-height: 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

main > .form-search > input[type="text"]:focus {
    outline: var(--accent) 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/*Button styling for searchbar*/
main > .form-search button {
    margin: 15px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}
   
main > .form-search .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
      
      
       600ms
       cubic-bezier(.3, .7, .4, 1);
}
   
main > .form-search .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(
       to left,
       hsl(38, 100%, 25%) 0%,
       hsl(38, 100%, 30%) 8%,
       hsl(38, 100%, 30%) 92%,
       hsl(38, 100%, 25%) 100%
    );  
}
   
main > .form-search .front {
    padding: 14px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    color: white;
    background: hsl(38, 100%, 50%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
}
   
main > .form-search button:hover {
    filter: brightness(110%);
}
   
main > .form-search button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
}
   
main > .form-search button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}
   
main > .form-search button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
}
   
main > .form-search button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}
   
main > .form-search button:focus:not(:focus-visible) {
    outline: none;
}
main > .form-search img{
    position: relative;
    width: 20px;
    margin-right: 5px;
    aspect-ratio: auto;
    z-index: 10;
    filter: invert(1);
}

/*Media queries for searchbar*/
@media screen and (max-width: 1199px) {
    main > .form-search img {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    main > .form-search img {
        display: inline !important;
    }
}