main{
    display: flex;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--background);
    padding: 20px;
}

main > .search-bar > input[type="text"]{
    width: 80% !important;
}

.results, .r-amount, .r-search{
    height: auto;
    margin: 20px;
}
.r-amount, .r-search{
    margin: 0;
    margin-top: 10px;
}
.r-search{
    color: var(--primary);
}
.r-amount{
    color: var(--text);
    margin-bottom: 20px;
}

main .article-container{
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px;
}

main .article-container > article{
    background-color: var(--secondary-background);
    min-height: 150px;
    margin: 10px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;

    flex-grow: 1;
    flex-shrink: 1;
    text-decoration: none !important;
}

article > .article-content{
    height: 125px;
    justify-content: space-between;
}

article > .article-content > a{
    text-decoration: none;
    cursor: pointer;
}

article > .article-content > .article-right{
    text-decoration: none !important;
}

article .article-right > button{
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    margin-top: auto;
}

article .bottom{
    margin-bottom: 5px;
    margin-top: auto;
}

article .abstract-dropdown {
    transition: max-height 0.1s ease-out, margin 0.1s ease-in;
    overflow: hidden;
}

article .abstract-dropdown > p{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}