main{
    display: flex;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--background);
    padding: 20px;

}

main > .search-bar > input[type="text"]{
    width: 80% !important;
}

.results, .r-amount, .r-search{
    height: auto;
    margin: 20px;
}
.r-amount, .r-search{
    margin: 0;
    margin-top: 10px;
}
.r-search{
    color: var(--primary);
}
.r-amount{
    color: var(--text);
    margin-bottom: 20px;
}

main .article-container{
    width: 80%;
    padding: 0 20px;
}

main .article-container > article{
    background-color: var(--secondary-background);
    height: 150px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}
main .article-container > article:nth-child(0){
    margin-top: 20px;
}

main .article-container > article > a{
    text-decoration: none;
    color: var(--text);
}

main .article-container > article > .right{
    width: 30%;
}

main .article-container .left > h2{
    display: inline;
    color: var(--primary);
    margin-bottom: 5px;
}

main .article-container > .bottom{
    margin-top: auto;
}

main .article-container > p{
    display: inline;
    color: var(--text);
    margin-bottom: 3px;
}