main{
    display: flex;
    max-width: 900px;
    margin-inline: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--background);
    padding: 20px;
}

main > .search-bar > input[type="text"]{
    width: 80% !important;
}

.results, .r-amount, .r-search{
    height: auto;
    margin: 20px;
}
.r-amount, .r-search{
    margin: 0;
    margin-top: 10px;
}
.r-search{
    text-align: center;
    color: var(--primary);
}
.r-amount{
    color: var(--text);
    margin-bottom: 20px;
}

main .article-container{
    min-width: 728px;
    max-width: 1000px;
    padding: 0 20px;
    margin-bottom: 40px;
}

main .article-container > article{
    position: relative;
    background-color: var(--secondary-background);
    min-height: 150px;
    margin: 10px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;

    flex-grow: 1;
    flex-shrink: 1;
    text-decoration: none !important;
}

article > .article-content{
    flex-grow: 1;
    height: 125px;
    justify-content: space-between;
}

article > .article-content > a{
    max-width: 66%;
    word-wrap: break-word;
    text-decoration: none;
    cursor: pointer;
}

article > .article-content > .article-right{
    text-decoration: none !important;
    width: 33%;
}

article .article-right > button{
    width: 40%;
    background-color: var(--secondary-background);
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    margin: auto 0 0 auto;
}
article .article-right > button:focus{
    outline: 3px solid gray;
}

article .bottom{
    margin-bottom: 5px;
    margin-top: auto;
}

article .abstract-dropdown {
    transition: max-height 0.15s ease-out, margin 0s ease-in;
    overflow: hidden;
}

article .abstract-dropdown > p{
    width: auto;
    height: 100%;
    margin-top: 20px;
    padding-top: 0;
}

article .tags-container{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

article .tags-container span{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 5px;
    max-height: 30px;
    text-align: right;
    background-color: #f2e3d1;
    color: var(--text);
    padding: 5px 2px;
    border-radius: 5px 20px 20px 5px;
    margin: 0px 5px;
}

@media screen and (min-width: 479px) and (max-width: 768px){
    main{
        max-width: 700px;
    }
    main .article-container{
        max-width: 30% !important;
        min-width: 100% !important;
    }
    article .tags-container{
        display: none;
    }
    article .article-content a{
        max-width: fit-content;
    }
    article .article-right{
        width: 0px !important; 
    }
    .article-right button{
        position: relative;
        width: 100px !important;
        bottom: 5px;
        right: 100px;
    }
}
@media screen and (max-width: 479px) {
    header img{
        width: 300px;
    }
    main{
        padding: 0;
        max-width: 100%;
    }
    main .article-container{
        max-width: 30% !important;
        min-width: 100% !important;
    }
    .article-container article, .article-content{
        min-height: 100px !important;
        max-height: fit-content !important;
    }
    .article-content{
        height: 50px !important;
    }
    .article-content > a{
        max-width: 100% !important;
    }
    article .abstract-dropdown, article button, article .tags-container, .article-right{
        display: none;
    }
}